
.jumbotron {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.gif-button {
    margin-right: 4px;
    margin-bottom: 4px;
}

.gif-box {
    margin: 20px;
}

p {
    font-weight: bold;
}

#buttons-div {
    padding-top: 20px;
    padding-bottom: 20px;
}