
.jumbotron {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.gif-button {
    margin-right: 4px;
    margin-bottom: 4px;
}

.gif-box {
    margin: 10px;
}

p {
    font-weight: bold;
}